.cards-container {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  row-gap: 18px;
  column-gap: 22px;
  padding-top: 95px;
  justify-content: center;

  .more-progs {
    display: flex;
    margin-top: 24px;
    width: 178px;
    max-height: 22px;
    justify-content: space-between;
    justify-items: flex-start;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }
}

@media (max-width: 600px) {
  .cards-container {
    row-gap: 21px;
    padding-top: 20px;

    .more-progs {
      display: none;
    }
  }
}
