@import "constants";

.careers-group {
    padding: 0 12px;
    &-title-wrapper {
        display: flex;
        justify-content: space-between;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        cursor: pointer;
        &.active{
            color: $text-color;
        }
    }
    &-arrow{
        transition: All 0.2s;
        &.active{
            transform: rotate(0deg);
        }
    }
    &-content {
        display: flex;
        flex-direction: column;

        &.closed {
            height: 0;
            overflow: hidden;
        }

        &.opened {
            height: auto;
            margin-top: 10px;
        }

        &-item {
            cursor: pointer;
            padding: 10px;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.1px;
            &:hover {
                background-color: #F2F2F2;
            }

            &:active {
                background-color: rgba($text-color, .15);
                color: $text-color;
            }
        }
    }
}
