.main {
  display: flex;
  gap: 10px;
  margin: 0 auto;
  max-width: 1192.22px;
  height: auto;

  .course-title {
    font-family: 'Playfair Display', 'Helvetica', sans-serif !important;
    font-weight: 400;
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  body {
    background: #FFFFFF !important;
  }
  .main {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;

    .course-title {
      display: flex;
      margin-bottom: 17px;
      padding-left: 10px;
      width: 329px;
    }
  }
}
